In [223]:
import os
import csv
import pandas as pd
import numpy

In [224]:
os.chdir("D:\Edwisor\Fabulyst")

In [225]:
os.getcwd()

'D:\\Edwisor\\Fabulyst'

In [226]:
data=pd.read_csv("assignment-length.csv")

In [227]:
data.head()

,styleid,Url,len_Fabulyst,len_Myntra,correct?,analysis
0,1549178,http://myntra.myntassets.com/assets/images/154...,Calf Length,Calf Length,True,NaN
1,2477324,http://myntra.myntassets.com/assets/images/247...,Calf Length,Calf Length,True,NaN
2,2250042,http://myntra.myntassets.com/assets/images/225...,Ankle Length,NaN,False,TN
3,2424392,http://myntra.myntassets.com/assets/images/242...,Calf Length,Calf Length,True,NaN
4,1022918,http://myntra.myntassets.com/assets/images/102...,Ankle Length,Ankle Length,True,NaN

In [228]:
data = data.rename(columns={'correct?': 'correct'})

In [229]:
tn_data=data.analysis[data['correct']== False]

In [230]:
tn_data.value_counts()

FN       1543
TN        909
OOS        24
FNDEF       6
Name: analysis, dtype: int64